<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<!-- 1.Spring config with MyBatis -->
 	<context:property-placeholder location="classpath:spring/jdbc.properties"/>
 	
 	<!-- 2.DB connection pool -->
 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
 		<!-- DB -->
 		<property name="driverClass" value="${driver}"/>
 		<property name="jdbcUrl" value="${url}"/>
 		<property name="user" value="${user}"/>
 		<property name="password" value="${password}"/>
 		<!-- c3p0 -->
 		<property name="maxPoolSize" value="30"/>
 		<property name="minPoolSize" value="10"/>
 		<property name="autoCommitOnClose" value="false"/>
 		<property name="checkoutTimeout" value="1000"/>
 		<property name="acquireRetryAttempts" value="2"/>
 	</bean>
 	
 	<!-- Config SqlSessionFactory -->
 	<bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"/>
 		<property name="configLocation" value="classpath:mybatis-config.xml"/>
 		<property name="typeAliasesPackage" value="com.sap.ems.entity"/>
 		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
 	</bean>
 	
 	<!-- Config scan DAO package -->
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="sqlSessionFactoryBeanName" value="SqlSessionFactory"/>
 		<property name="basePackage" value="com.sap.ems.dao"/>
 	</bean>
 	
 </beans>